<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <form action="/add" method="post" enctype="multipart/form-data">
            <input style="height: 300px; width: 200px;" type="text" name="pname" placeholder="product name" /><br><br>
            <input type="text" name="price" placeholder="product price" /><br><br>
            <input type="file" name="pimage" id="pimage"><br><br>
            <button type="submit" name="submit" class="login login-submit" value="login">
            
      Add Item
    </button>
        </form>
    </div>

</body>

</html>